@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, a, button {
    line-height: 1.1;
}

h1, h2 {
    margin-bottom: 15px;
}

h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

@media (max-width: 768px) {
    
    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
}

p {
    line-height: 1.4;
    margin-bottom: 6px;
}

p, a, div {
    color: var(--text);
}

a[href^="tel"] {
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--accent);
    opacity: 1;
    transition: 0.3s opacity;
}

a:hover {
    opacity: 0.8;
    transition: 0.3s opacity;
}

button {
    width: fit-content;
    background-color: var(--accent);
    color: #f5f7f9;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 5px; 
    margin: 0 auto;
    border: 1px solid var(--accent);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--accent-alt); 
    transition: 0.3s;
}

button.alt {
    width: fit-content;
    background-color: #999999;
    background-color: var(--secondary);
    color: #f5f7f9;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 5px; 
    margin: 0 auto;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: 0.3s;
}

button.alt:hover {
    background-color: var(--secondary-alt); 
    transition: 0.3s;
}

button.correct {
    width: fit-content;
    background-color: #29903b;
    color: #f5f7f9;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 5px; 
    margin: 0 auto;
    border: 1px solid #29903b;
    cursor: pointer;
    transition: 0.3s;
    pointer-events: none;
}

button.correct:hover {
    background-color: #2ba33f; 
    transition: 0.3s;
}

button.error {
    width: fit-content;
    background-color: #fa5e55;
    color: #f5f7f9;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 5px; 
    margin: 0 auto;
    border: 1px solid #fa5e55;
    cursor: pointer;
    transition: 0.3s;
    pointer-events: none;
}

button.error:hover {
    background-color: #ca4a43; 
    transition: 0.3s;
}

:root[data-theme="light"] {
    --text: #06080a;
    --background: #fcfcfc;
    --alt-background: #e6e6e6;
    --primary: #2c5db3;
    --secondary: #77a2ec;
    --secondary-alt: #5d87cf;
    --accent: #0b66c3;
    --accent-alt: #0a5199;

    --table-heading: #d6d6d6; 
    --table-line: #f0f0f0;    
    --table-line-alt: #e6e6e6;     

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;
}

:root[data-theme="dark"] {
    --text: #f5f7f9;
    --background: #060a0e;
    --alt-background: #0e1318;
    --primary: #2c5db3;
    --secondary: #113169;
    --secondary-alt: #0e2753;
    --accent: #0b66c3;
    --accent-alt: #0a5199;

    --table-heading: #222d38;
    --table-line: #0c141b;
    --table-line-alt: #111c25;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 16px;
    background: transparent; 
}

::-webkit-scrollbar-track {
    background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollthumb);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollthumb-hover);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

/* SELECTION */

::-moz-selection {  
    background: #3763ae77;
}

::selection {
    background: #3763ae77;
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 25px;
}

/* TITLE */

.title {
    text-align: center;
}

.title h1 span {
    color: var(--accent);
}

.title h3 {
    opacity: 0.75;
    font-weight: 400;
}

/* INPUTS */

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form div.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div.input {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form div.char-counter {
    width: fit-content;
    align-self: end;
    margin-top: 5px;
}

label {
    font-weight: 500;
}

label span {
    opacity: 0.5;
    font-weight: 400;
}

.char-counter {
    font-size: 14px;
}

textarea {
    width: 100%;
    margin-top: 8px;
    padding: 12px 15px;
    background-color: var(--alt-background);
    color: var(--text); 
    font-weight: 400;
    border: 1px solid #919191; 
    border-radius: 5px; 
    resize: vertical;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
}

textarea::placeholder {
    opacity: 0.4;
}

div.table-wrapper {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #919191; 
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    color: var(--text);
    overflow: hidden;
}

th, td {
    padding: 8px;
    text-align: left;
    width: fit-content;
}

th {
    background-color: var(--table-heading); 
    font-weight: 500;
}

td {
    background-color: var(--table-line);
    font-family: 'Source Code Pro', sans-serif;
}

tr:nth-child(even) td {
    background-color: var(--table-line-alt); 
}

table td:nth-child(1), table th:nth-child(1) {
    width: 20px;
}