<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedTag</title>

    <!-- ICONS -->
    {% for icon in icons %}
    <link rel="preload" href="{{ url_for('static', filename=icon) }}" as="image">
    {% endfor %}

    <!-- STYLE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}">
</head>
<body>
    <!-- HERO -->
    <section class="hero">

        <div class="container title">
            <h1>Linked<span>Tag</span></h1>
            <h3>Boost your LinkedIn posts reach with top performing hashtags</h3>
        </div>
        
        <!-- FORM -->
        <div class="container">
            <form id="post-form">
                <div class="input-wrapper">
                    <div class="input">
                        <label for="title">Post Title <span>(Optional)</span></label>
                        <textarea id="title" name="title" rows="1" maxlength="255" placeholder="Insert a short title/summary for a more accurate suggestion"></textarea>
                        <div class="char-counter" id="counter-title"></div>
                    </div>
                    <div class="input">
                        <label for="content">Post Content</label>
                        <textarea id="content" name="content" rows="12" maxlength="2500" placeholder="Insert post's content: in general, the longer it is, the more accurate the suggestion" required></textarea>
                        <div class="char-counter" id="counter-content"></div>
                    </div>
                </div>
    
                <button type="submit"><img src="{{ url_for('static', filename='img/icons/search.svg') }}" alt=""> Find Hashtags</button>
            </form>
        </div>

    </section>
    
    <!-- TABLE -->
    <section class="table">
        
        <div class="custom-shape-divider">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="container table">
            <div class="table-wrapper" id="table-wrapper" style="display: none;">

                <table id="results-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Hashtag</th>
                            <th>Followers</th>
                            <th>Affinity</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>        
            </div>
            
            <button type="submit" class="alt" id="copy-btn" style="display: none;"><img src="{{ url_for('static', filename='img/icons/copy.svg') }}" alt=""> Copy Selected Hashtags</button>
        </div>

        <!-- FOOTER -->
        <footer>
            <div class="tag">Designed and developed by <a href="https://www.gabrielepedesini.com" target="_blank">Gabriele Pedesini</a></div>
        </footer>

    </section>

    <!-- NO HASHTAGS FOUND -->
    <div class="blur-background"></div>
    
    <div class="no-hashtag-container">
        <svg class="x" xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke=""  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>

        <svg class="not-found" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke=""  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 9v4" /><path d="M12 16v.01" /></svg>

        <h3>No Hashtags Found!</h3>
        <p>This means our system couldn't find matching hashtags for your post. <br>We're always updating our database to help you find the best hashtags for maximum reach!</p>
    </div>
    
    <!-- SCRIPT -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>
